:root{
    --color--Headbg:#800080;
    --color--bodybg:#eeb8ee;
    --color--heaading:#530553;
    --color--body:#524007;
    
}
/* ---------topography------------- */
html{
    font-size: 62.5%;
    font-family: 'EB Garamond', serif;;
    
}
body{
    color: var(--color--body);
    font-size: 2rem;   
   }
 h1,h2,h3{
       
    color:var(--color--heaading) ;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 5rem;
}
h3{
    font-size:4rem;
}
/* ---content------ */
.content{
    text-align: center;
}
.content-head{
    margin-bottom: 0;
}
.content-desc{
    font-weight: 500;;
}
.content-special{
    margin-top: 0;
    font-style: italic;
    font-weight: 500;   
}
.content-special::before
{
    content: open-quote;
}
.content-special::after
{
    content: close-quote;
}
/* ----------block-------- */
.block{
    --padding-bottom:4rem;
    padding:var(--padding-bottom) 4rem;
    
}
.block-purple{
    background: var(--color--bodybg);
}
.block-sqwed{
    padding-bottom:calc(var(--padding-bottom) + 4rem) ;
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 80%);
}



