<div class="block block-purple experience">
    <h1 class="exp_head">Experience</h1>
    <div class="grid grid-1x2 grid-1x3">
        <div class="content">
            <h3 class="content-head">Front-end Developer</h3>
            <p class="content-desc"> 1 year of experiene at <b>Boston</b> to created userfriendly website and web-pages .Maintained over 75+websites over a period of year </p>
        </div>
        <div class="content">
            <h3 class="content-head">jr.full stack developer</h3>
            <p class="content-desc">6 months of experinence at assisting a senior full stack developer at <b>Varnas</b> .Learned a lot about Database system during the journey </p>
        </div>
        <div class="content">
            <h3 class="content-head">Full-stack Developer</h3>
            <p class="content-desc">2 years 6 months of experience in developing and deploying a website . Trained 100+ candidates during the journey. currently handdling over 15+ websites at <b>Atlas</b></p>
        </div>
    </div>
   
</div>