<footer class="foot grid grid-1x2 ">
    <div class="media collapsible ">
        <svg class="icon icon-profile ">
            <use xlink:href="images/sprite.svg#ph"></use>
        </svg>
            <div class="media-content">
                <h3 class="media-head foot_head ">contact</h3>
                <p class=" foot_content collapsible--content ">mb-987350035 <br> lane-45 spalstreel Andheri Mumbai-400011</p>
            </div>
       </div>
       <div class="media collapsible">
        <svg class="icon icon-profile ">
            <use xlink:href="images/sprite.svg#mail"></use>
        </svg>
            <div class="media-content">
                <h3 class="media-head foot_head">email</h3>
                <p class=" foot_content collapsible--content "><a href="#">nehag12@gmail.com</a></p>
            </div>
       </div>
       <div class="media collapsible">
        <svg class="icon icon-profile ">
            <use xlink:href="images/sprite.svg#ld"></use>
        </svg>
            <div class="media-content">
                <h3 class="media-head foot_head">Git</h3>
                <p class=" foot_content collapsible--content "><a href="#">https://git.jhgugi.130jhbbj.com</a></p>
            </div>
       </div>
       <div class="media collapsible">
        <svg class="icon icon-profile ">
            <use xlink:href="images/sprite.svg#git"></use>
        </svg>
            <div class="media-content">
                <h3 class="media-head foot_head">Linkdiin</h3>
                <p class=" foot_content collapsible--content "><a href="#">https://linkdin.jhiuhiu2.de.com</a></p>
            </div>
       </div>
</footer>