<div class="container grid grid-1x2 block  block-sqwed intro">
    <div class="content intro_content">
      <h1 class="content-head intro-head">Neha Nandlal Gupta</h1>
      <h3 class="intro-desc">Certified Full stack Developer</h3>
      <p class="content-special intro-special">
      Dedicated and specialized Stack Developer at atlas corporation .Handling 100+ Websites since last 4 Years .
       In-depth knowledge of Computer Systems and their applications as well as Knowledge in frameworks.
       Looking for enhanching my career and further improvement.

      </p>
  </div>
    <img class="intro_img" src="images/Neha_photo.png" alt="" />
  </div>