 <div class="project">
          <h2>Project</h2>
          <div class="grid grid-1x2 grid-1x3">
            <blockquote class="content">
                <h2 class="content-head">Management</h2>
                <p class="content-desc">Required 5 months to create a complete hotel management Website for <b>jamanger 5* hotels</b>.See rooms availability and check prices for the same.</p>
            </blockquote>
            <blockquote class="content">
                <h2 class="content-head">Billing</h2>
                <p class="content-desc">Required 3 months to create a complete billing system for <b>wadamart</b>.A system that can keep your previous record safe at clouds and help you to pay bills at your home</p>
            </blockquote>
            <blockquote class="content">
                <h2 class="content-head">Business</h2>
                <p class="content-desc">Required 14 months to create a complete business model Website for <b>khadam mills</b> Hollseller can now order directly and view the material availaility. Mills now can maintain their record and view it anytime they want.</p>
            </blockquote>
          </div>
      </div>