<div class="skill">
          <h2 class="skill-head">Skills</h2>
   <div class=" grid grid-1x2">
       <div class="tech ">
           <h3 class="skill-title">Technical-skills</h3>
        <ul class="list grid   ">
            <li class="listitem"><b>Front-end:</b>  html,css,Java-script</li>
            <li class="listitem"><b>Frameworks:</b> Angular,React,django</li>
            <li class="listitem"><b>Backend:</b> php, mysql</li>
            <li class="listitem"><b>Dept Knowledge in:</b> DataBase-Systems, Data-structure,Algorithm,Computer-Networks,seo</li>
            <li class="listitem"><b>Version-control: </b> Git,Git-hub</li>
        </ul>
       </div>
       <div class="non-tech">
           <h3 class="skill-title">Other-skills</h3>
        <ul class="list grid  ">
            <li class="listitem"><b>Language known:</b>Hindi,English,Marathi,French</li>
            <li class="listitem">Leadership-skills</li>
            <li class="listitem">Good-communicator</li>
            <li class="listitem">Disciplined</li>
        </ul>
       </div>
   </div>
      </div>